<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishlist2</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    
    <div class="container">
        <h1>My Wishlist</h1>

        <form action="/wish" method="POST" enctype="multipart/form-data">
            <input type="text" name="userWish" placeholder="add a wish">
            <input type="file" name="userFile">
            <button type="submit">Add a wish</button>
        </form>


        <div class="wishlist">
            <ul>
                
            </ul>

        </div>

    </div>

</body>
</html>